.solid-button.purple {
  background: #7c4dff;
  color: #fff;
}
.solid-button.white {
  background: #fff;
  color: #232323;
}

.main-content {
  margin-top: 13rem;
}
.section-img {
  max-width: 80%;
  max-height: 100%;
}
